CMakeCache.txt
CMakeFiles/*
Makefile
SocketTest/CMakeCache.txt
SocketTest/CMakeFiles/*
SocketTest/Makefile
SocketTest/bin/*
SocketTest/cmake_install.cmake
cmake_install.cmake
lib/*

#Windows
.vs/*
Socket.VC.db
Socket.sln
Socket/.vs/*
Socket/ReadMe.txt
Socket/Socket.vcxproj
Socket/Socket.vcxproj.filters
SocketTest/SocketTest.vcxproj
SocketTest/SocketTest.vcxproj.filters
